.business-laptop {
    background: url(../images/business-laptops-mac.jpg) no-repeat center center;
    background-position: center;
    min-height: 200px;
    width: 100%;
    background-size: cover;
}
.business-laptop-container {
    background: url(../images/business-laptops12.jpg) no-repeat center center;
    background-position: center;
    min-height: 200px;
    width: 100%;
    background-size: cover;
}
#buy {
    margin-top: 25px;
}
#business-laptop {
    margin-top: 50%;
    padding-bottom: 50%;
    width: 100%;
    height: auto;
}