.overlay {
    width: 100%;
}
.main-header-content {
    font-size: 40px;
    font-family: RobotoLight;
}
.with-devices {
    font-size: 22px;
    font-family: RobotoLight;
    color: #111;
}
.full-image {
    height: auto;
    width: 100%;
}
.marger {
    padding-top: 6%;
}
.category-main {
    font-size: 26px;
    font-family: RobotoLight;
}
.sub-category {
    font-size: 15px;
    font-weight: 400;
}
.learn-more {
    color: #08c !important;
    font-size: 15px;
    font-family: RobotoLight;
    text-decoration: none !important;
}


@media (max-width: 766px){
    .main-header-content {
        font-size: 25px;
    }
    .with-devices {
        font-size: 15px;
    }
}