.main-h {
    margin-top: 100px;
    font-size: 55px;
    font-family: RobotoLight;
}
.main-p-lead {
    font-size: 34px;
    font-family: RobotoLight;
}
.sub-main-lead {
    font-size: 27px;
    font-family: RobotoLight;
}
.main-p {
    font-size: 30px;
    font-family: RobotoLight;
}
.sub-main-22 {
    font-size: 22px;
    font-family: RobotoLight;
}
.sub-main {
    font-size: 30px;
    font-family: RobotoLight;
}
.sub-main-h {
    font-size: 30px;
    font-family: RobotoLight;
}
.link-items {
    font-size: 19px;
    font-family: RobotoLight;
}
.link-items:hover {
    color: #3366BB;
    text-decoration: none;
}
.overlay {
    background: url(../images/devices4.jpg) no-repeat center center;
    width: 100%;
    height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-top: 100px;
}
.divider-main {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 2px;
    background-color: #e4e4e4;
}
.overlay-middle {
    background: url(../images/devices1.jpg) no-repeat center center;
    width: 100%;
    height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-top: 100px;
}
.devices {
    background: url(../images/macbook-air.jpg) no-repeat center center;
    width: 100%;
    height: 492px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-top: 100px;
}
.footer-bg {
    background: url(../images/devices2.png) no-repeat center center;
    width: 100%;
    height: 668px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-top: 100px;
}
.order-now {
    font-size: 26px;
    color: #3366BB;
    font-family: RobotoRegular;
}
.order-now:hover {
    text-decoration:none;
    color: #3366BB;
}
.divider-default {
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    margin-bottom: 15px;
}
.ipad-usage {
    background: url(../images/ipad-usage1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 6%;
    padding-bottom: 19.7%;
    padding-left: 30px;
    border-right: 1px solid white;
}
.ipad-usage-next {
    background: url(../images/ipad-usage2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 1%;
    padding-bottom: 0.9%;
    padding-left: 30px;
    border-right: 1px solid white;
}
.ipad-usage h1 {
    color: white;
    font-size: 28px;
}
.ipad-usage-next h1 {
    color: white;
    font-size: 28px;
}
.main-ipad {
    width: 300px;
}
.sub-ipad {
    margin-top: 50px;
}
.reimagine-main {
    margin-left: 5.3%;
    width: 200px;
    padding-bottom: 20%;
}
.reimagine-sub {
    margin-top: 8%;
    margin-left: 27%;
}

@media (max-width: 992px){
    .ipad-usage-next {
        border-top: 1px solid white;
    }
}
@media (max-width: 766px){
    #image-small {
        margin-top: 5%;
        width: 70%;
        margin-left: 17%;
    }
    #marger-for-small {
        margin-top: 5%;
    }
    .main-h {
        font-size: 34px;
    }
    .main-p {
        font-size: 27px;
    }
    .sub-main {
        font-size: 20px;
    }
    .sub-main-h {
        font-size: 25px;
    }
}

.invisible-for-xs {
    display: none;
}

@media (max-width: 500px){
    .ipad-usage {
        display: none;
    }
    .ipad-usage-next {
        display: none;
    }
    .header-ipad {
        font-size: 35px;
        padding-left: 15px;
    }
    .invisible-for-xs {
        display: block;
    }
    #main-link {
        padding-left: 15px !important;
    }
}