body, html {
    width: 100%;
    height: 100%;
}
.overlay {
    margin-top: -20px;
    padding-bottom: 40%;
    background: url('../images/education1.jpg') center no-repeat;
    background-position: center top;
    background-size: 100% auto;
}
.content-header {
    padding-top: 5%;
    font-size: 4vw;
    font-family: RobotoLight;
}
.container-content {
    margin-top: 5%;
}
.main-header {
    font-family: RobotoLight;
    font-size: 22px;
}
.category-main {
    font-size: 26px;
    font-family: RobotoLight;
}
.sub-category {
    font-size: 15px;
    font-weight: 400;
}
.learn-more {
    color: #08c !important;
    font-size: 15px;
    font-family: RobotoLight;
    text-decoration: none !important;
}