#main {
    margin-top: 10px;
}
.field_set {
    border: 2px solid #e4e4e4;
    padding-left: 15px;
    padding-right: 15px;
}
.margin-auto {
    margin-top: 1%;
}
.line {
    margin-top: 10px;
    height: 1px;
    background-color: #e4e4e4;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 15px 12px -12px black;
}
.already-registered {
    margin-top: 15px;
}
.btn-default {
    background-color: #e4e4e4;
    color: black !important;
}
ul.hor_nav {
    margin: 0;
    padding: 0;
}
ul.hor_nav li {
    display: inline;
    margin-right: 20px;
    padding: 2px;
}
.items {
    font-size: 12px;
    text-decoration: none !important;
}
.min-spacer {
    margin-top: 20px;
}
#copyright {
    margin-top: 14px;
}