.macbook-header {
    margin-top: 50px;
    font-size: 55px;
    font-family: RobotoLight;
}
.macbook-p {
    font-size: 28px;
    font-family: RobotoLight;
}
.header-laptops {
    font-size: 36px;
    font-family: RobotoLight;
}
.divider-block {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 2px;
    background-color: #e4e4e4;
}
.sub-h {
    font-family: RobotoRegular;
    font-size: 16px;
}
.sub-white {
    color: #666;
    font-family: RobotoLight;
    margin-bottom: 20px;
}
.bg-footer {
    background: url(../images/laptops.jpg) no-repeat center center;
    width: 100%;
    height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-top: 100px;
}
.order {
    font-size: 22px;
    color: #08b !important;
    font-family: RobotoLight;
}
.order:hover {
    text-decoration:none;
    color: #08b;
}
.order-now {
    font-size: 26px;
    color: #08b !important;
    font-family: RobotoLight;
}
.order-now:hover {
    text-decoration:none;
    color: #08b;
}
.header-for-category {
    font-size: 22px;
    font-family: RobotoLight;
}
