.not-found-h{font-size:46px;line-height:1.1429;font-weight:200;letter-spacing:-.01em;margin:0 0 .45em;color:#333;font-style:normal;font-family:RobotoLight}
.overlay-main{margin-top:-5%}
.search-for-choice{font-size:20px}
#toggleCategories{display:none}
#image-get-data-gl{transform:rotate(90deg);transition:.3s ease-in}