.woden-sims-xl{margin-top:10%}
.woden-sims-xl h1{font-size:55px;font-family:RobotoLight}
h2{margin-top:0;margin-bottom:0}
.main-h-xs{margin-top:60px;font-size:31px}
#divider-e4{width:100%;height:1px;background-color:#e4e4e4;margin:20px auto 40px}
.header-ws-xl{font-size:27px}
.header-ws-md{font-size:30px}
.border-left-row{border-left:1px solid #e4e4e4}
@media (max-width: 766px) {
    .header-ws-xl{font-size:20px}
    .desc-row{font-size:20px!important}
    .header-ws-md{font-size:25px}
    .border-left-row{border:none}
}
.image-xl{margin-top:10%}
.career{font-size:40px}
#sub-career{font-size:30px;font-family:RobotoLight}
.main-row{font-size:32px;font-family:MyriadProSemiBold;height:100px}
.desc-row{font-size:22px;font-family:RobotoLight}