#cart{margin-top:-10px}
#shoping{margin-left:-10px;margin-bottom:10px}
.items-nav{font-size:20px;color:#666;margin-left:10px;margin-right:10px}
.items-align{text-align:center}
.header{font-size:54px;text-decoration:none;margin-top:50px;font-family:RobotoLight}
.the-only{font-size:34px;font-family:RobotoLight}
#main-link{font-size:25px;color:#08b;margin-right:40px}
.adding{font-size:15px;color:#666;margin-top:20px}
.phones-category-gl{background:url(../images/phones-bg-next.png) no-repeat center center;background-position:center;width:100%;background-size:cover}
.phones-category-xs{background:url(../images/phones-bg-main.png) no-repeat center center;background-position:center;width:100%;background-size:cover}
.space{height:200px}
#iphone{font-size:20px;text-align:left}
ul{list-style-type:none}
.footer-menu{font-size:13px}
.items{font-size:12px;color:#666}
.fc{color:#666;text-align:center;margin-bottom:100px}
.describe{font-size:30px;font-family:RobotoLight}
.divider-phones{width:100%;height:2px;background-color:#e4e4e4;margin-top:50px;margin-bottom:50px}
.education{font-size:30px;font-family:RobotoLight}
.sub-education{font-size:20px;font-family:RobotoLight}
.search-education{font-size:22px;font-family:RobotoLight}
.sub-edu-gl{margin-top:40px}
.high-resolution-gl-xs-margin{margin-top:5%;margin-bottom:50%}
@media (max-width: 1000px) {
	#for-small-drop-up{background-color:#f1f1f1;position:relative;top:190px}
	#for-small-margin{margin-top:190px;margin-bottom:207px}
	#sub-for-small-drop-up{background-color:#f1f1f1;position:relative;top:-207px}
	.for-small-overflow-gl{margin-top:20px}
}
.header-items{font-size:20px;margin-top:15px}
#price{font-size:15px;color:#a52a2a}
#prev-price{font-size:12px;color:#000}
.spacer{margin-top:33px}
.nav-size{font-size:20px;color:#666;text-align:center;text-decoration:none}
.divider-items{height:1px;width:900px;border:1px solid #e4e4e4;margin-top:15px;margin-bottom:15px}
#phones{text-decoration:none;font-size:26px}
#phones:hover{text-decoration:none;color:#36B}
.links:hover{color:#36B}