.hello {
    font-size: 22px;
    font-family: RobotoLight;
}
.cart {
    font-size: 16px;
    font-family: RobotoLight;
    margin-top: 10px;
}
.cart-divider {
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    margin-top: 20px;
    margin-bottom: 20px;
}
#link {
    text-decoration: none !important;
}
.cart-header {
    color: #1b6d85;
}
.cart-price {
    color: #ac5050;
}
.underline {
    text-decoration: underline;
}
.not-found {
    color: #ac5050;
    font-size: 18px;
}
.no-items {
    color: #ac5050;
    font-size: 24px;
    font-family: RobotoLight;
}
#space {
    margin-top: 30px;
}
.page {
    font-size: 20px;
    font-family: RobotoLight;
    text-decoration: none !important;
    color: #08b !important;
}
#page {
    font-family: RobotoLight;
    font-size: 22px;
}
.page-spacer {
    margin-top: 50px;
    margin-left: 20px;
}
#space-divide {
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    margin-top: 20px;
    margin-bottom: 20px;
}
#right-bar {
    color: #999;
}
#right-bar:hover {
    color: #1b6d85;
}