html, body {
    height: 100%;
    width: 100%;
}
.order_id, .order_email {
    color: #999;
}
.contact-us {
    color: #1b6d85;
    font-size: 14px !important;
    text-decoration: none !important;
}
.problem {
    margin-top: 20px;
}
.header-lead {
    font-size: 22px;
    font-family: RobotoLight;
    margin-left: 50px;
}
.category {
    color: #1b6d85;
    font-size: 15px;
    margin-left: 20px;
}
#underline {
    text-decoration: underline;
}
.original {
    font-size: 15px;
    color: #08b !important;
    text-decoration: none !important;
    font-family: RobotoLight;
}
a, h1, h2 {
    font-family: RobotoLight;
}
.pos-center {
    position: absolute;
    top: 50%;
    width: 100%;
}
.go-back {
    font-size: 21px !important;
    font-family : RobotoLight;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none !important;
    color: #1b6d85;
}
.default-link {
    color: #08b !important;
}
.item-price {
    color: rgb(236, 0, 140);
    font-size: 15px;
}
#ordered {
    font-family: Arial;
    font-size: 14px;
}
.divider-for-small {
    padding-bottom: 15px;
    height: 350px;
}
.something {
    top: 260px !important;
    left: 0px !important;
    padding-right: 10px !important;
}
.h-find {
    color: black;
}
.sub-find {
    color: black;
}


@media (max-width: 991px){
    .divider-for-small {
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 20px;
        margin-bottom: 20px;
        height: auto;
    }
    .header-lead {
        margin-left: 10px;
    }
}