html, body {
    height: 100%;
    width: 100%;
}
.order_id, .order_email {
    color: #999;
}
.contact-us {
    color: #1b6d85;
    font-size: 14px !important;
    text-decoration: none !important;
}
.problem {
    margin-top: 20px;
}
.header-lead {
    font-size: 22px;
    font-family: RobotoLight;
    margin-left: 20px;
}
.category {
    color: #1b6d85;
    font-size: 15px;
    margin-left: 20px;
}
#underline {
    text-decoration: underline;
}
.original {
    font-size: 15px;
    font-family: RobotoLight;
}
a, h1, h2, h {
    font-family: RobotoLight;
}
.pos-center {
    position: absolute;
    top: 50%;
    width: 100%;
}
.go-back {
    font-size: 21px !important;
    font-family : RobotoLight;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none !important;
    color: #1b6d85;
}