.image-margin {
    margin-top: 30px;
}
.main-header {
    font-size: 22px;
}
.divider-main {
    height: 1px;
    width: 94%;
    background-color: #e4e4e4;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider {
    margin: 30px auto 30px auto;
    height: 1px;
    width: 94%;
    background-color: #e4e4e4;
}
.price {
    margin-left: 27px;
    color: #666;
}
#price {
    font-size: 18px;
    color: #ac5050;
}
#bold {
    color: black;
    font-family: RobotoBold;
}
.prev-price {
    color: #666;
}
#you-save {
    color: #ac5050;
    padding-bottom: 30px;
}
.stock {
    margin-top: 20px;
    color: green;
    text-align: left;
    font-size: 18px;
}
.no-stock {
    margin-top: 20px;
    color: red;
    text-align: left;
    font-size: 18px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
}
.details {
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
}
.spacer {
    margin-top: 80px;
}
#spacer {
    margin-top: 20px;
}
.tech-details {
    font-size: 20px;
    color: #ac5050;
    margin-left: 15px;
}
.header-details {
    font-size: 16px;
    color: black;
    margin-left: 15px;
    font-family: RobotoBold;
}
.spacer-35 {
    margin-top: 35px;
}