.image-margin {
    margin-top: 30px;
}
.main-header {
    font-size: 22px;
}
.divider-main {
    height: 1px;
    width: 94%;
    background-color: #e4e4e4;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider {
    margin: 30px auto 30px auto;
    height: 1px;
    width: 98%;
    background-color: #e4e4e4;
}
.price {
    margin-left: 27px;
    color: #666;
}
#price {
    font-size: 18px;
    color: #ac5050;
}
#bold {
    color: black;
    font-family: RobotoBold;
}
.prev-price {
    color: #666;
}
#you-save {
    color: #ac5050;
    padding-bottom: 30px;
}
.stock {
    margin-top: 20px;
    color: green;
    text-align: left;
    font-size: 18px;
}
.no-stock {
    margin-top: 20px;
    color: red;
    text-align: left;
    font-size: 18px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
}
.details {
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
}
.spacer {
    margin-top: 80px;
}
#spacer {
    margin-top: 20px;
}
.tech-details {
    font-size: 20px;
    color: #ac5050;
    margin-left: 15px;
}
.header-details {
    font-size: 16px;
    color: black;
    margin-left: 15px;
    font-family: RobotoBold;
}
.spacer-35 {
    margin-top: 35px;
}
.social {
    margin-top: 30px;
    margin-left: 40px;
}
.contact {
    margin-left: 30px;
    text-decoration: none !important;
}
.aside {
    width: 80%;
    border: 1px solid #e4e4e4;
    margin:0 auto;
}
.shopping-cart {
    margin-top: 13px;
    margin-left: 20px;
}
.buy-new {
    margin-left: 10px;
    font-weight: bold;
}
.price-new {
    float:right;
    margin-right: 20px;
    color: #ac5050;
}
.nova-poshta {
    font-family: RobotoRegular;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 5px;
}
.qty {
    margin-top: 30px;
    margin-left: 27%;
}
#qty {
    font-size: 17px;
    font-family: RobotoRegular;
}
.paddings {
    margin-top: 23px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.button-link {
    background-color: white;
    border: none;
    color: #1b6d85;
    font-size: 13px;
}
.other-sellers {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.button-small {
    line-height: 3px;
    font-size: 12px;
    width: 80px;
    height: 24px;
    color: black;
}
.sellers-items {
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    height: 85px;
    border-bottom: 1px solid #e4e4e4;
}
.shipping-small {
    font-size: 14px;
    font-weight: bold;
    float: left;
}
.sold-by {
    color: #999;
    font-size: 15px;
}
.maybe {
    font-weight: bold;
}
.random-photo {
    margin-top: 15px;
    margin-left: 3px;
    padding-bottom: 15px;
}
.random-name {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 12px;
    background-color: white;
    border: none;
    color: #1b6d85;
}
.random-quantity {
    text-decoration: underline;
    margin-left: 10px;
}
.random-price {
    color: #ac5050;
    font-size: 17px;
    margin-left: 10px;
}
.random-prev-price {
    color: black;
    font-size: 12px;
}
.maybe-main {
    margin-top: 20px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 20px;
}
.name-margin {
    margin-top: 20px;
    padding-bottom: 20px;
    color: #1b6d85;
}
.original-name {
    font-size: 15px;
    font-family: RobotoRegular;
}
.comparison {
    margin-top: 15px;
    padding-bottom: 15px;
}
.cprice {
    color: #ac5050;
}
#header {
    vertical-align: middle;
}
.shipping-comparison {
    font-family: RobotoLight;
}
#striked {
    color: #666;
    font-size: 12px;
}
#emph {
    font-size: 12px;
}
.paddings-table {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.color-black {
    color: black;
    font-family: RobotoLight;
}
.no-border {
    border-left: 1px solid white !important;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.color-black:hover {
    color: black;
}
.compare {
    margin-left: 15px;
    font-size: 23px;
    color: #ac5050;
}
.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*.bx-wrapper, .bx-viewport {
    height: 230px !important;
}*/
.striked {
    color: black;
    font-size: 12px;
}
.shipping-assoc {
    text-decoration: underline;
}
.search-margin {
    margin-left: 15px;
}
.question {
    font-weight: bold;
    margin-left: 15px;
    padding-bottom: 30px;
}
#question {
    margin-left: 40px;
    color: #1b6d85;
}
.answer {
    margin-top: 30px;
    font-weight: bold;
    margin-left: 15px;
}
#answer {
    margin-left: 50px;
    font-weight: normal;
}
.by-answer {
    font-size: 12px;
    margin-left: 124px;
    color: #666;
}
#found {
    background: #ffcc7f;
}